@font-face {
    font-family: 'Ropa Mix Pro';
    src: url('RopaMixPro-ExtraBoldItalic.eot');
    src: local('Ropa Mix Pro ExtraBold Italic'), local('RopaMixPro-ExtraBoldItalic'),
        url('RopaMixPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RopaMixPro-ExtraBoldItalic.woff2') format('woff2'),
        url('RopaMixPro-ExtraBoldItalic.woff') format('woff'),
        url('RopaMixPro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Ropa Mix Pro';
    src: url('RopaMixPro-Italic.eot');
    src: local('Ropa Mix Pro Italic'), local('RopaMixPro-Italic'),
        url('RopaMixPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('RopaMixPro-Italic.woff2') format('woff2'),
        url('RopaMixPro-Italic.woff') format('woff'),
        url('RopaMixPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

